{% extends 'blog/base.html' %}
{% load staticfiles %}
  {% block content %}

<!--Header End-->

<section id="home" class="main-slider">

  <div class="slide-carousel owl-item">
    <div class="item" style="background-image:url({% static 'www/img/slide1.jpg' %});">
      <div class="overlay"></div>
      <div class="text">
        <div class="this-item">
          <h2>Sed ut elit eu massa</h2>
        </div>
        <div class="this-item">
          <h3>Phasellus lacinia leo quis tellus varius malesuada</h3>
        </div>
        <div class="this-item">
          <p><a href="#">Link 1</a></p>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url({% static 'www/img/slide2.jpg' %});">
      <div class="overlay"></div>
      <div class="text">
        <div class="this-item">
          <h2>Ut non finibus lectus</h2>
        </div>
        <div class="this-item">
          <h3>Sed accumsan sodales dolor, in pharetra</h3>
        </div>
        <div class="this-item">
          <p><a href="#">Link 2</a></p>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url({% static 'www/img/slide3.jpg' %});">
      <div class="overlay"></div>
      <div class="text">
        <div class="this-item">
          <h2>Fusce id est</h2>
        </div>
        <div class="this-item">
          <h3>Mauris urna dui, pellentesque in posuere vitae</h3>
        </div>
        <div class="this-item">
          <p><a href="#">Link 3</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!---Service Section Start-->
<div id="about" class="service bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-col">
          <h2>Sobre a clínica</h2>
          <div class="border"></div>
          <p class="down">Conheça um pouco mais sobre a clínica</p>
          <div class="gap-30"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>Sed mattis leo pretium lectus molestie, quis fringilla ante facilisis. Pellentesque interdum laoreet turpis ac pretium. Cras ac ullamcorper ante. Etiam quis convallis libero. Pellentesque ultrices, magna nec fringilla convallis, nunc mi bibendum nisi, at fringilla lacus tortor eu urna. Phasellus quis diam nec nunc sagittis pulvinar. Fusce velit magna, rutrum id euismod ut, tincidunt nec ipsum. Fusce eleifend mi ligula, ut bibendum metus imperdiet vel. Donec consectetur mi a imperdiet aliquet. In quis efficitur tellus, dignissim ultricies nunc. Curabitur nec erat sed odio vestibulum finibus.
        </p>
        <p>
          Sed mattis leo pretium lectus molestie, quis fringilla ante facilisis. Pellentesque interdum laoreet turpis ac pretium. Cras ac ullamcorper ante. Etiam quis convallis libero. Pellentesque ultrices, magna nec fringilla convallis, nunc mi bibendum nisi, at fringilla lacus tortor eu urna. Phasellus quis diam nec nunc sagittis pulvinar. Fusce velit magna, rutrum id euismod ut, tincidunt nec ipsum. Fusce eleifend mi ligula, ut bibendum metus imperdiet vel. Donec consectetur mi a imperdiet aliquet. In quis efficitur tellus, dignissim ultricies nunc. Curabitur nec erat sed odio vestibulum finibus.
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="{% static 'img/clinic.jpg' %}" alt="Foto da clínica" class="img-responsive">
      </div>
    </div>
    <div class="row inner">
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left media-middle">
            <p><i class="fa fa-heart"></i></p>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Serviço 1</h4>
            <p>Quis non odit sordidos, vanos, leves, futtiles? Primum in nostrane potestate est, quid meminerimus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left media-middle">
            <p><i class="fa fa-user-md"></i></p>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Serviço 2</h4>
            <p>Quis non odit sordidos, vanos, leves, futtiles? Primum in nostrane potestate est, quid meminerimus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left media-middle">
            <p><i class="fa fa-ambulance"></i></p>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Serviço 3</h4>
            <p>Quis non odit sordidos, vanos, leves, futtiles? Primum in nostrane potestate est, quid meminerimus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="media">
            <div class="media-left media-middle">
                <p><i class="fa fa-stethoscope"></i></p>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Serviço 4</h4>
            <p>Quis non odit sordidos, vanos, leves, futtiles? Primum in nostrane potestate est, quid meminerimus.</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left media-middle">
            <p><i class="fa fa-medkit"></i></p>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Serviço 5</h4>
            <p>Quis non odit sordidos, vanos, leves, futtiles? Primum in nostrane potestate est, quid meminerimus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="media-left media-middle">
            <p><i class="fa fa-flask"></i></p>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Serviço 6</h4>
            <p>Quis non odit sordidos, vanos, leves, futtiles? Primum in nostrane potestate est, quid meminerimus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---Service Section Ends-->
<!-- Professional section start -->
<section id="professional" class="doctor-detail">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-col">
              <h2>Profissional</h2>
              <div class="border"></div>
              <div class="gap-30"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="chefs-single">
              <div class="thumb">
                <img src="{% static 'www/img/dc1.jpg' %}" alt="">
              </div>
              <div class="text">
                <h2>Claudio Maniglia</h2>
                <h3>Endodontista</h3>
                <p>
                  Paragrafo
                </p>
              </div>
              <div class="social">
                <div class="title">
                  Redes Sociais
                </div>
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8">

            <!-- Team Detail Tab Start -->
            <div class="doctor-detail-tab">


              <!-- Tab Content Start -->
                  <div class="row">
                    <div class="col-md-12 content-col">
                      <div class="content">
                        <h2>Sobre</h2>
                        <p>
                          Enim venenatis nisl wisi quis, in wisi. Sollicitudin eget mollis accumsan, ut wisi maecenas tortor. Magna vehicula auctor lacus aliquam. Vehicula bibendum ut sed class erat, et et risus vel pede ac, purus orci. Nulla integer sed sem. Ut erat dolor lectus consectetuer, vel tincidunt integer duis euismod nunc, pede pede nec mauris in, vel sem fuga dis ligula. Ridiculus placerat, odio ut, mauris per vitae vehicula lorem sed vestibulum, nec fusce cras orci enim.
                        </p>
                        <h2>Educação</h2>
                        <p>
                          Pellentesque nulla ut. Convallis eleifend ut est dui eros, porta enim odio luctus, sed orci nonummy tellus, wisi enim venenatis magnis, dolor nunc.
                        </p>
                        <h2>Experiência</h2>
                        <p>
                          Sociosqu at metus luctus feugiat integer, imperdiet auctor risus. Vel ultricies dis et at sodales. Massa id urna eros tempor. Fusce lobortis dolor viverra, tempor consequat nibh, eget faucibus sapien porttitor wisi, velit et. Sollicitudin consectetuer interdum gravida metus maecenas.
                        </p>
                      </div>
                    </div>
                  </div>

              <!-- Tab Content End -->
            </div>
            <!-- Chefs Detail Tab End -->

          </div>
        </div>
      </div>
    </section>
<!-- Professional section ends -->
<!-- Blog section start -->
<section id="blog" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-col">
          <h2>Blog</h2>
          <div class="border"></div>
          <div class="gap-30"></div>
        </div>
      </div>
    </div>
    <div class="row">
      {% block blog %}
      {% endblock %}
    </div>
  </div>
</section>
<!-- Blog section end -->
<!-- Contact section starts -->
<section id="contact" class="contact">
  <div class="container">
    <div class="row inner">
      <div class="col-md-12">
        <div class="heading-col">
          <h2>Contato</h2>
          <div class="border"></div>
          <p class="down">Tire suas dúvidas, entre em contato já!</p>
          <div class="gap-30"></div>
        </div>
      </div>
    </div>

    <div class="row inner">
      <div class="col-sm-12 col-md-6">
        <div class="msg">
          <div id="message-contact"></div>
          <form action="mail/contact.php" method="post" id="contactform">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Digite seu nome" required="required" id="visitor_name" name="visitor_name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Digite seu endereço" required="required" id="visitor_email" name="visitor_email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Digite seu número" required="required" id="visitor_phone" name="visitor_phone">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="visitor_comment" name="visitor_comment" cols="30" rows="10" placeholder="Digite a mensagem" required="required"></textarea>
            </div>
            <input type="submit" value="Enviar" class="btn btn-primary" id="submit-contact">
          </form>
        </div>
      </div> <!-- end col form -->
      <div class="col-sm-12 col-md-6">
        <div class="map-responsive">
        </div>
      </div>
    </div>
</section>
<!-- Contact section end -->
{% endblock content %}
