{% extends 'blog/body.html' %}
{% load staticfiles %}
{% block blog %}
  {% for tag in tags %}
    {% for post in posts%}
      {% if post.type_post == tag %}
          <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="img-wrapper">
              <img src="{{ post.photo_url }}" alt="" class="img-responsive">
            </div>
              <div class="caption">
                <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                <div class="comment">
                  <ul>
                    <li>
                      <i class="fa fa-calendar-check-o"></i><span>{{ post.created_date }}</span>
                    </li>
                    <li>
                      <i class="fa fa-user"></i><span>{{ post.author.name }}</span>
                    </li>
                  </ul>
                </div>
              <p class="all">{{ post.text|slice:":100" }} (...)</p>
              <p class="submit"><a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Leia mais</a></p>
              </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}

{% endblock blog %}
